* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    background-color: aqua;
  }
  
  .header {
    grid-area: header;
    background-color: red;
  }
  
  .main {
    grid-area: main;
    background-color: blue;
  }
  
  .footer {
    grid-area: footer;
    background-color: yellow;
  }
  
  .grid-container {
    display: grid;
    grid-template: "header" 100px "main" auto "footer" 60px/100%;
  }