@charset "UTF-8";
/* Fuente de encabezados */
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Outfit:wght@100;400;700;900&display=swap");
/* Fuente de Marca */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Croissant One", cursive;
}

/* 
@mixin dflex($disp, $just, $alin, $flow)

display:
justify-content:
align-items:
flex-flow:
*/
/* 
@mixin hp($hp)

Encabezados y parrafos
font-size:
line-height:
Parametros h1, h2, h3 y p
*/
/* Variables Breack point mediaqueri */
/* Variables Colores */
/* Comienzo Grid plantilla */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.grid_container {
  display: grid;
  grid-template: "header" 80px "main" auto "footer" 100px/100%;
}

/* Fin Grid plantilla */
/* Inicio navegación */
.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0px 3%;
}
.navegacion .marca {
  display: flex;
  align-items: center;
}
.navegacion .marca img {
  width: 70px;
  padding: 10px 10px 10px 0px;
}
.navegacion .marca span {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px;
}
.navegacion #check_menu {
  display: none;
}
.navegacion .menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}
.navegacion .menu li {
  display: inline-block;
  padding: 0px 10px;
}
.navegacion .menu li a {
  text-decoration: none;
  color: #c5c5c5;
}
.navegacion .menu li a:hover {
  color: #c4c200;
}
.navegacion .menu li a:focus {
  color: #ca2b2b;
}
.navegacion .menu li .active {
  color: #ffffff;
}
.navegacion label {
  display: none;
}

/* fin Navegación */
/* Comienzo footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer span {
  padding: 5px;
}
.footer .seguime {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 10px;
}
.footer .seguime .redes_desk {
  display: flex;
  align-items: center;
}
.footer .seguime .redes_desk .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.footer .seguime .redes_desk .redes .social {
  display: initial;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: white;
}
.footer .seguime .legales {
  display: flex;
  flex-flow: row wrap;
}
.footer .seguime .legales a {
  color: white;
  text-decoration: none;
}

/* fin footer */
/* Comienzo contenido page inicio */
.hero {
  background-image: url(../assets/img/hero/portada-inicio.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero .contenedor {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 50%, #000, rgb(0, 0, 0));
}
.hero .contenedor .caja {
  padding: 20px 3%;
}
.hero .contenedor .caja h1 {
  font-size: 3em;
  line-height: 1.3em;
}
.hero .contenedor .caja p {
  font-size: 1.3em;
  line-height: 1.5em;
  padding-top: 40px;
}
.hero .contenedor .caja .formulario {
  display: flex;
  margin-top: 30px;
}
.hero .contenedor .caja .formulario form {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  /* Extension css-auto-prefix */
  -wetexto-inicio-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hero .contenedor .caja .formulario form input {
  padding: 12px 32px;
  border: none;
  font-size: 1em;
  width: 60%;
}
.hero .contenedor .caja .formulario form input:focus {
  outline-style: none;
}
.hero .contenedor .caja .formulario form input[type=submit] {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  /* Extension css-auto-prefix */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* fin contenido page inicio */
.container_soy {
  max-width: 1200px;
  margin: 0 auto;
}

.wrap_soy {
  max-width: 100%;
  padding: 3%;
}
.wrap_soy .copy_soy h1 {
  font-size: 3em;
  line-height: 1.3em;
  padding: 1% 3% 3%;
}
.wrap_soy .copy_soy .perfil_soy {
  display: flex;
  padding: 40px 0px 0px 0px;
}
.wrap_soy .copy_soy .perfil_soy .barra_h2 {
  display: flex;
  align-items: center;
  width: 95%;
  height: 4em;
  background-color: #78760C;
  border: 10px solid #78760C;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.wrap_soy .copy_soy .perfil_soy .barra_h2 h2 {
  font-size: 2.2em;
  line-height: 1.3em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
.wrap_soy .copy_soy .perfil_soy .barra_h2 img {
  display: flex;
  width: 35%;
  margin-top: 110px;
  margin-right: -30px;
  max-width: 300px;
  min-width: 250px;
  border: 1px solid #c5c5c5;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.wrap_soy .copy_soy .storytelling {
  padding: 0 3%;
}
.wrap_soy .copy_soy .storytelling p {
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 30px 0 30px 0;
}
.wrap_soy .copy_soy .storytelling p:first-child {
  font-size: 1.1em;
  padding: 20px 0 20px 0;
  width: 66%;
}
.wrap_soy .copy_soy .storytelling h3 {
  font-size: 1.8em;
  line-height: 1.3em;
}
.wrap_soy .copy_soy .storytelling video {
  max-width: 100%;
  margin: 3% 0px;
  border: 3px solid rgb(159, 159, 159);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.container_servicios {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
  /* inicio de card de servicios */
  /* fin de card de servicios */
}
.container_servicios h1 {
  font-size: 3em;
  line-height: 1.3em;
  padding-bottom: 20px;
}
.container_servicios p {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 15px;
  font-size: 1.3em;
  line-height: 1.5em;
}
.container_servicios p:last-child {
  padding-top: 50px;
}
.container_servicios h2 {
  font-size: 2.2em;
  line-height: 1.3em;
  padding: 30px;
}
.container_servicios .container_card {
  display: grid;
  justify-content: space-evenly;
  flex-flow: row wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}
.container_servicios .container_card .card {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  border: 3px solid #c5c5c5;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  overflow: auto;
  background-color: white;
  color: black;
}
.container_servicios .container_card .card:hover {
  transition: 0.3s;
  scale: 1.03;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.container_servicios .container_card .card .card_img {
  width: 100%;
}
.container_servicios .container_card .card .card_title {
  color: #484848;
  padding: 10px;
  font-size: 1.5em;
}
.container_servicios .container_card .card .btn {
  margin: 30px 0px;
  padding: 10px 30px 10px;
  width: 100px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-align: center;
  background-color: #c4c200;
  color: white;
}

/* Fin contenido page servicios */
.container_portfolio h1 {
  font-size: 3em;
  line-height: 1.3em;
  text-align: center;
  padding: 40px 0;
}
.container_portfolio p {
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: center;
  padding: 20px 3% 60px 3%;
}
.container_portfolio .contenedor_fotos {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.container_portfolio .contenedor_fotos .columna {
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: relative;
  height: 100%;
  background-color: black;
}
.container_portfolio .contenedor_fotos .columna img {
  width: 100%;
}
.container_portfolio .contenedor_fotos .caja_foto {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.3s ease-out;
  -ms-flex-line-pack: all;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.container_portfolio .contenedor_fotos .caja_foto img {
  max-width: 100vw;
  max-height: 100vh;
}
.container_portfolio .contenedor_fotos .caja_foto:target {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* Fin contenido page portfolio */
.container_contacto {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 3%;
}
.container_contacto h1 {
  width: 100%;
  font-size: 3em;
  line-height: 1.3em;
  text-align: center;
  padding: 10px 0 50px 0;
}
.container_contacto .wrap_contacto {
  padding-right: 3%;
}
.container_contacto .wrap_contacto h2 {
  font-size: 2.2em;
  line-height: 1.3em;
}
.container_contacto .wrap_contacto p {
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 20px 0px;
}
.container_contacto .wrap_contacto p:first-child {
  padding-top: 0;
}
.container_contacto .wrap_formulario {
  margin: 0 auto;
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.container_contacto .wrap_formulario h2 {
  font-size: 2.2em;
  line-height: 1.3em;
  color: #313131;
  text-align: center;
  padding: 20px 0 40px 0;
}
.container_contacto .wrap_formulario .seccion_formulario {
  margin-bottom: 20px;
}
.container_contacto .wrap_formulario .seccion_formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #484848;
}
.container_contacto .wrap_formulario .seccion_formulario input[type=text],
.container_contacto .wrap_formulario .seccion_formulario input[type=email],
.container_contacto .wrap_formulario .seccion_formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #484848;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container_contacto .wrap_formulario .seccion_formulario textarea {
  height: 150px;
}
.container_contacto .wrap_formulario .seccion_formulario input[type=submit] {
  background-color: #78760c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.container_contacto .wrap_formulario .seccion_formulario input[type=submit]:hover {
  background-color: #78760c;
}

/* Fin contenido page contacto */
@media screen and (min-width: 768px) {
  /* inicio page servicios */
  .container_servicios .container_card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  /* fin page servicios */
}
@media screen and (min-width: 992px) {
  /* inicio page servicios */
  .container_servicios .container_card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* fin page servicios */
}
@media screen and (max-width: 768px) {
  /* inicio Ocultando menu desk */
  .navegacion .menu {
    display: none;
  }
  .navegacion label {
    display: block;
    margin-right: 20px;
    font-size: 40px;
  }
  .navegacion #check_menu:checked ~ .menu {
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    left: 0;
    top: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
  }
  .navegacion #check_menu:checked ~ .menu li {
    background-color: rgba(0, 0, 0, 0.8549019608);
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }
  /* fin Ocultando menu desk */
  /* inicio page inicio */
  .hero {
    background-image: url();
  }
  .hero .contenedor .caja {
    text-align: center;
  }
  .hero .contenedor .caja p {
    padding: 0px 30px;
    padding-top: 40px;
  }
  .hero .contenedor .caja .formulario {
    justify-content: center;
  }
  .hero .contenedor .caja .formulario form {
    width: 80%;
  }
  .hero .contenedor .caja .formulario form input {
    width: 60%;
  }
  .hero .contenedor .caja .formulario form input[type=submit] {
    font-size: 1em;
  }
  /* fin page inicio */
  /* inicio page soy */
  .wrap_soy .copy_soy h1 {
    font-size: 2.3em;
    text-align: center;
  }
  .wrap_soy .copy_soy .perfil_soy {
    display: flex;
    padding: 40px 0px 0px 0px;
  }
  .wrap_soy .copy_soy .perfil_soy .barra_h2 {
    flex-direction: column;
    width: 100%;
    margin: 0 5%;
  }
  .wrap_soy .copy_soy .perfil_soy .barra_h2 h2 {
    font-size: 1.8em;
  }
  .wrap_soy .copy_soy .perfil_soy .barra_h2 img {
    width: 100%;
    margin-top: 40px;
    margin-right: 0;
  }
  .wrap_soy .copy_soy .storytelling {
    margin-top: 320px;
  }
  .wrap_soy .copy_soy .storytelling p {
    text-align: center;
  }
  .wrap_soy .copy_soy .storytelling p:first-child {
    width: 100%;
  }
  .wrap_soy .copy_soy .storytelling h3 {
    text-align: center;
  }
  /* fin page soy */
  /* inicio page servicios */
  .container_servicios .container_card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  /* fin page servicios */
  /* inicio page contacto */
  .container_contacto .wrap_contacto h1,
  .container_contacto .wrap_contacto h2,
  .container_contacto .wrap_contacto p {
    text-align: center;
  }
  .container_contacto .wrap_formulario .seccion_formulario input[type=submit] {
    width: 100%;
  }
  /* fin page contacto */
  /* inicio footer */
  .footer {
    display: initial;
    justify-content: center;
    align-items: center;
  }
  .footer .legales {
    display: initial;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse wrap;
    width: 100%;
    height: auto;
  }
  /* fin footer */
}
@media screen and (max-width: 480px) {
  /* inicio page inicio */
  .hero {
    background-image: url();
  }
  .hero .contenedor .caja {
    text-align: center;
  }
  .hero .contenedor .caja p {
    padding: 0px 30px;
    padding-top: 40px;
  }
  .hero .contenedor .caja .formulario form {
    flex-flow: column wrap;
    align-items: center;
  }
  .hero .contenedor .caja .formulario form input {
    text-align: center;
  }
  .hero .contenedor .caja .formulario form input[type=submit] {
    font-size: 1em;
    width: 100%;
  }
  /* fin page inicio */
  /* inicio page servicios */
  .container_servicios .container_card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  /* fin page servicios */
  .footer .seguime {
    text-align: center;
  }
  .footer .seguime .redes_desk {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .footer .seguime .titulo {
    width: 100%;
  }
  .footer span a {
    font-size: 12px;
  }
}
/* Bucle  */
@media screen and (max-width: 480px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .col-m-1 {
    width: 8.3333333333%;
  }
  .col-m-2 {
    width: 16.6666666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.3333333333%;
  }
  .col-m-5 {
    width: 41.6666666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.3333333333%;
  }
  .col-m-8 {
    width: 66.6666666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.3333333333%;
  }
  .col-m-11 {
    width: 91.6666666667%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .col-l-1 {
    width: 8.3333333333%;
  }
  .col-l-2 {
    width: 16.6666666667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.3333333333%;
  }
  .col-l-5 {
    width: 41.6666666667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.3333333333%;
  }
  .col-l-8 {
    width: 66.6666666667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.3333333333%;
  }
  .col-l-11 {
    width: 91.6666666667%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
