.contenedor_fotos {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    .columna{
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgb(0, 0, 0);
        justify-content: center;
        img{
            width: 100%;
        }
    }

}
