@media screen and (min-width: 768px) {
  /* inicio page servicios */
  .container_service {
    .container_card {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  /* fin page servicios */
}

@media screen and (max-width: 768px) {
  /* inicio Ocultando menu desk */
  .navegacion {
    .menu {
      display: none;
    }
    label {
      display: block;
      margin-right: 20px;
      font-size: 40px;
    }
    #check__menu:checked ~ .menu {
      width: 100%;
      /* height: 100vh; */
      position: absolute;
      left: 0;
      top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      li {
        background-color: #000000da;
        padding: 15px;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
      }
    }
  }
  /* fin Ocultando menu desk */

  /* inicio page inicio */
  .hero {
    background-image: url();
    .contenedor {
      .caja {
        text-align: center;
        p {
          padding: 0px 30px;
          padding-top: 40px;
        }
        .formulario {
          justify-content: center;
          form {
            width: 80%;
            input {
              width: 60%;
            }
            input[type="submit"] {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
  /* fin page inicio */

  /* inicio page soy */
  .wrap {
    .copy {
      h1 {
        text-align: center;
      }
      .perfil {
        display: flex;
        padding: 40px 0px 0px 0px;
        .barra_h2 {
          flex-direction: column;
          width: 100%;
          margin: 0 5%;
          h2 {
          }
          img {
            width: 100%;
            margin-top: 40px;
            margin-right: 0;
          }
        }
      }
      .storytelling {
        margin-top: 320px;
        p {
          text-align: center;
          &:first-child {
            width: 100%;
          }
        }
        h3 {
          text-align: center;
        }
      }
    }
  }
  /* fin page soy */

  /* inicio page servicios */
  .container_service {
    .container_card {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  /* fin page servicios */

  /* inicio page contacto */
  .cont_contacto {
    .wrap_contacto {
      h1,
      h2,
      p {
        text-align: center;
      }
    }
    .container {
      .seccion-form {
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
  /* fin page contacto */

}

@media screen and (max-width: 480px) {
  /* inicio page inicio */
  .hero {
    background-image: url();
    .contenedor {
      .caja {
        text-align: center;
        p {
          padding: 0px 30px;
          padding-top: 40px;
        }
        .formulario {
          form {
            flex-flow: column wrap;
            align-items: center;
            input {
              text-align: center;
            }
            input[type="submit"] {
              font-size: 1em;
              width: 100%;
            }
          }
        }
      }
    }
  }
  /* fin page inicio */

  /* inicio page servicios */
  .container_service {
    .container_card {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
  /* fin page servicios */
}

@import "./bucles";
