@import "reset";
@import "grid";
@import "variables";
@import "fonts";
@import "soy";
@import "servicios";
@import "portfolio";
@import "contacto";
@import "inicio";

body {
  background-color: #000;
  color: #fff;
}
/* Inicio navegación */
.navegacion {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
  .marca {
    display: flex;
    align-items: center;
    img {
      width: 70px;
      padding: 10px 10px 10px 0px;
    }
    span {
      text-transform: uppercase;
      font-size: 1.2em;
      padding: 10px;
    }
  }
  #check__menu {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    li {
      display: inline-block;
      padding: 0px 10px;
      a {
        text-decoration: none;
        color: #d2d2d2;
        &:hover {
          color: #c4c200;
        }
        &:focus {
          color: #ca2b2b;
        }
      }
      .active {
        color: #ffffff;
      }
    }
  }
  label {
    display: none;
  }
}
/* fin Navegación */

/* inicio footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    text-align: center;
  }
}
/* fin footer */
@import "queries";
