.cont_contacto {
  @include dflex(flex, space-between, none, row wrap);
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 3%;
  h1{
    width: 100%;
    font-size: 3em;
    text-align: center;
    padding: 10px 0 50px 0;
  }
  .wrap_contacto {
    padding-right: 3%;
    
    p {
      font-size: 1.3em;
      padding: 20px 0px;
      &:first-child{
        padding-top: 0;
      }
    }
  }
  .container {
    margin: 0 auto;
    max-width: 500px;
    max-height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    h2 {
      color: #313131;
      text-align: center;
      padding: 20px 0 40px 0;
      font-size: 2em;
    }
    .seccion-form {
      margin-bottom: 20px;
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #313131;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

      textarea {
        height: 150px;
      }

      input[type="submit"] {
        background-color: #78760c;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        border-radius: 30px;
        cursor: pointer;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
      }

      input[type="submit"]:hover {
        background-color: #78760c;
      }
    }
  }
}
