/* inicio contenido */
.hero {
  background-image: url(../assets/img/hero/portada-inicio.jpg);
  background-position: center;
  background-size: cover;
  @include dflex(flex, none, center, none);
  .contenedor {
    @include dflex(flex, none, center, row nowrap);
    height: 100%;
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 50%,
      #000,
      rgb(0, 0, 0)
    );
    .caja {
      padding: 20px 3%;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.3em;
        line-height: 1.5;
        padding-top: 40px;
      }
      .formulario {
        display: flex;
        margin-top: 30px;
        form {
          background-color: #fff;
          border-radius: 10px;
          padding: 10px;
          display: flex;
          width: 100%;

          /* Extension css-auto-prefix */

          -wetexto-inicio-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          input {
            padding: 12px 32px;
            border: none;
            font-size: 1em;
            width: 60%;
            &:focus {
              outline-style: none;
            }
          }
          input[type="submit"] {
            background-color: #000;
            border-radius: 5px;
            color: #fff;
            font-size: 1em;

            /* Extension css-auto-prefix */

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }
    }
  }
}
/* fin contenido */
