.container_servicios {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
  h1 {
    @include textos(h1);
    padding-bottom: 20px;
  }
  p {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 15px;
    @include textos(p);
    &:last-child {
      padding-top: 50px;
    }
  }
  h2 {
    @include textos(h2);
    padding: 30px;
  }
  /* inicio de card de servicios */
  .container_card {
    @include dflex(grid, space-evenly, none, row wrap);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    .card {
      margin: 0 auto;
      max-width: 500px;
      text-align: center;
      border: 3px solid $color_grisc;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      overflow: auto;
      background-color: white;
      color: black;
      &:hover {
        transition: 0.3s;
        scale: 1.03;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
      .card_img {
        width: 100%;
      }
      .card_title {
        color: $color_griso;
        padding: 10px;
        font-size: 1.5em;
      }
    }
  }
  /* fin de card de servicios */
}
/* Fin contenido page servicios */
