/* Variables Breack point mediaqueri */
$media:(
    // max-width
    xs: 480px,
    // min-width
    s: 481px,
    // min-width
    m: 769px,
    // min-width
    l: 1024px,
    // min-width
    xl: 1200px,
);

/* Variables Colores */

$color_pri: #c4c200;
$color_sec: #78760c;
$color_grisc: #c5c5c5;
$color_griso: #484848;
$color_link: $color_grisc;
$color_hover: $color_pri;
$color_focus: #ca2b2b;
$color_active: #ffffff;